{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Сменить пароль" /></p>
        </form>
    {% else %}
        <p>Ссылка недействительна, скорее всего она уже была использована.
            Попробуйте запросить сброс пароля ещё раз.</p>
    {% endif %}
{% endblock %}